.days-forecast {
    background-color: var(--light-blue-2);
    padding: 15px;
    border-radius: 20px;

    .title {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
            width: 25px;
            height: 25px;

            &:nth-child(2) {
                fill: var(--blue-2);
            }
        }
        span {
            font-size: 1.4rem;
            color: var(--blue-2);
            font-weight: 800;
        }
    }
    hr {
        background-color: var(--blue-2);
        height: 2px;
        border: none;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        margin-block: 15px;

        .card {
            background-color: var(--light-blue-3);
            border-radius: 20px;
            padding-block: 10px;
            display: grid;
            justify-items: center;
            gap: 15px;

            .day {
                font-size: 1rem;
                font-weight: 800;
                color: var(--blue-2);
            }
            .date {
                font-size: 1rem;
                font-weight: 700;
                color: var(--blue-2);
            }
            .temp {
                font-size: 1.6rem;
                font-weight: 800;
                color: var(--blue-1);
            }
            svg {
                width: 25px;
                height: 25px;

                path {
                    fill: #5e5e5e;
                }
            }
        }
    }

    progress {
        background-color: var(--light-blue-3);
        width: 100%;
        height: 10px;
        border-radius: 20px;
        border: none;

        &::-moz-progress-bar {
            background-color: var(--light-blue-4);
            border-radius: 20px;
        }
        
        &::-webkit-progress-value {
            background-color: var(--light-blue-4);
            border-radius: 20px;
        }
        &::-webkit-progress-bar {
            background-color: var(--light-blue-3);
            border-radius: 20px;
        }
    }
}

@media (max-width: 480px) {
    .days-forecast {
        padding: 6px;
        border-radius: 10px;

        .title {

            svg {
                width: 15px;
                height: 15px;
            }
            span {
                font-size: 1rem;
            }
        }
        .cards {
            gap: 5px;
            margin-block: 7.5px;

            .card {
                padding-block: 5px;
                gap: 7.5px;
                border-radius: 7px;;

                .day {
                    font-size: 0.7rem;
                }
                .date {
                    font-size: 0.55rem;
                }
                .temp {
                    font-size: 1rem;
                }
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        progress {
            height: 7px;
        }
    }
}


/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 1024px) {
    .days-forecast {
        padding: 10px;

        .title {

            svg {
                width: 15px;
                height: 15px;
            }
            span {
                font-size: 0.9rem;
            }
        }
        .cards {
            gap: 5px;
            margin-block: 7.5px;

            .card {
                padding-block: 10px;
                gap: 7.5px;
                border-radius: 12px;;

                .day {
                    font-size: 0.8rem;
                }
                .date {
                    font-size: 0.6rem;
                }
                .temp {
                    font-size: 1.2rem;
                }
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
        progress {
            height: 7px;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .days-forecast {
        .title {
            span {
                font-size: 1.5rem;
            }
            svg {
                width: 25px;
                height: 25px;
            }
        }
        .cards .card {
            gap: 15px;
            .day {
                font-size: 1.2rem;
            }
            .date {
                font-size: 0.8rem;
            }
            .temp {
                font-size: 2rem;
            }
            svg {
                width: 30px;
                height: 30px;
            }
        }
        .cards {
            gap: 10px;
        }
        progress {
            height: 10px;
        }
    }
}