form {
    display: flex;
    align-items: center;
    position: relative;

    input {
        width: 30vw;
        color: var(--blue-1);
        font-weight: 800;
        background-color: var(--light-blue-2);
        border: none;
        border-radius: 50px;

        &::placeholder {
            opacity: 0.8;
            color: var(--blue-1);
        }

    }
    & > svg {
        position: absolute;
        path {
            fill: var(--blue-1);
        }
    }
    button {
        background-color: var(--light-blue-3);
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        
        &:hover {
            cursor: pointer;
        }
    }
}

/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
    .location-icon {
        width: 20px;
        height: 20px;
    }
    form input {
        font-size: 1.2rem;
        height: 50px;
        padding-left: 40px;
        padding-right: 50px;

        &::placeholder {
            font-size: 1rem;
        }
    }
    form svg {
        left: 10px;
    }
    form button {
        width: 35px;
        height: 35px;
        right: 10px;
    }
    form button svg {
        width: 18px;
        height: 18px;
    }
}

/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    form button svg {
        width: 22px;
        height: 22px;
    }
    form input::placeholder {
        font-size: 1.3rem;
    }
    form input {
        font-size: 1.6rem;
        height: 60px;
        padding-left: 50px;
        padding-right: 60px;
    }
    form svg {
        left: 15px;
        width: 25px;
        height: 35px;
    }
    form button {
        width: 45px;
        height: 45px;
        right: 10px;
    }
    form button svg {
        width: 22px;
        height: 22px;
    }
}

/* Medium Devices (big Tablets and Small Desktops) */
@media (min-width: 769px) and (max-width: 1024px) {
    form input {
        font-size: 1.4rem;
        height: 60px;
        padding-left: 45px;
        padding-right: 60px;

        &::placeholder {
            font-size: 1.2rem;
        }
    }
    form svg {
        left: 15px;
        width: 25px;
        height: 35px;
    }
    form button {
        width: 45px;
        height: 45px;
        right: 10px;
    }
    form button svg {
        width: 25px;
        height: 25px;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
    form input {
        font-size: 1.6rem;
        height: 70px;
        border-radius: 100px;
        padding-left: 50px;
        padding-right: 65px;

        &::placeholder {
            font-size: 1.3rem;
        }
    }
    form svg {
        left: 15px;
        width: 30px;
        height: 45px;
    }
    form button {
        width: 48px;
        height: 48px;
        right: 15px;
    }
    form button svg {
        width: 28px;
        height: 28px;
    }
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1441px) {
    form input {
        font-size: 2rem;
        height: 85px;
        padding-left: 70px;
        padding-right: 80px;

        &::placeholder {
            font-size: 1.6rem;
        }
    }
    form svg {
        left: 20px;
        width: 40px;
        height: 60px;
    }
    form button {
        width: 60px;
        height: 60px;
        right: 15px;
    }
    form button svg {
        width: 30px;
        height: 30px;
    }
}

/* Extra Extra Large Devices (Large TVs) */
@media (min-width: 2800px) {
    form input {
        font-size: 4rem;
        height: 150px;
        border-radius: 100px;
        padding-left: 100px;
        padding-right: 140px;

        &::placeholder {
            font-size: 3rem;
        }
    }
    form svg {
        left: 35px;
        width: 60px;
        height: 70px;
    }
    form button {
        width: 100px;
        height: 100px;
        right: 32px;
    }
    form button svg {
        width: 60px;
        height: 60px;
    }
}