.wind {
    background-color: var(--light-blue-2);
    border-radius: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;

    .title {
        display: flex;
        gap: 5px;

        svg {
            width: 25px;
            height: 25px;

            path {
                fill: var();
            }
        }
        span {
            font-size: 1.4rem;
            font-weight: 800;
            color: var(--blue-2);
        }
    }
    hr {
        background-color: var(--blue-2);
        height: 2px;
        border: none;
    }

    .seperator {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .main {
            display: grid;
            align-items: center;
    
            .wind-unit {
                display: flex;
                gap: 5px;
    
                .value {
                    font-size: 2rem;
                    font-weight: 800;
                    color: var(--blue-1);
                }
    
                .unit {
                    display: grid;
    
                    span:first-child {
                        font-size: 1.2rem;
                        font-weight: 800;
                        color: var(--blue-2);
                    }
                    span:last-child {
                        font-size: 1.2rem;
                        font-weight: 700;
                        color: var(--blue-1);
                    }
                }
            }
    
            .gusts {
                display: flex;
                gap: 5px;
    
                .value {
                    font-size: 2rem;
                    font-weight: 800;
                    color: var(--blue-1);
                }
    
                .unit {
                    display: grid;
    
                    span:first-child {
                        font-size: 1.2rem;
                        font-weight: 800;
                        color: var(--blue-2);
                    }
                    span:last-child {
                        font-size: 1.2rem;
                        font-weight: 700;
                        color: var(--blue-1);
                    }
                }
            }
        }

        .img-holder {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 80%;
            }
        }
    }

}

/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    .wind {
        padding: 10px;

        .title {
            svg {
                width: 15px;
                height: 15px;
            }
            span {
                font-size: 0.9rem;
            }
        }
        .seperator {
            .main {
                .wind-unit {
                    .value {
                        font-size: 1.5rem;
                    }

                    .unit {
                        span:first-child {
                            font-size: 0.9rem;
                        }
                        span:last-child {
                            font-size: 0.8rem;
                        }
                    }
                }

                .gusts {
                    .value {
                        font-size: 1.5rem;
                    }
                    .unit {
                        span:first-child {
                            font-size: 0.9rem;
                        }
                        span:last-child {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            
        }
    }
}