button {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover {
        cursor: pointer;
    }

    svg {
        width: 60px;
        height: 45px;
    }
}