.main-card {
    display: grid;
    justify-items: center;
    background-color: var(--light-blue-2);
    border-radius: 20px;
    padding: 20px;

    & > .holder {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        display: grid;
        height: fit-content;

        h2 {
            font-size: 3rem;
            font-weight: 900;
            color: var(--blue-2);
            text-align: center;
        }
        span {
            font-size: 2rem;           
            font-weight: 500;
            color: var(--blue-2);
            text-align: center;
        }
    }
    .main {
        display: grid;
        justify-items: center;

        .temp {
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
                width: 45px;
                height: 45px;

                path {
                    fill: #6b6b6b;
                }
            }
            span {
                font-size: 4rem;
                font-weight: 900;
                color: var(--blue-1);
            }
        }
        span.weather-inf {
            font-size: 2.5rem;
            font-weight: 800;
            color: var(--blue-2);
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        .card {
            background-color: var(--light-blue-3);
            border-radius: 20px;
            padding: 10px;
            display: grid;
            align-items: center;
            gap: 10px;

            .title {
                svg {
                    width: 22px;
                    height: 22px;

                    path {
                        fill: var(--blue-2);
                    }
                }
                span {
                    font-size: 1.4rem;
                    font-weight: 800;
                }
            }
            .main-inf {
                font-size: 2.5rem;
                font-weight: 800;
                color: var(--blue-1);
            }
            .more-inf {
                font-size: 0.8rem;
                font-weight: 800;
                color: var(--blue-2);
            }
        }
    }
}


/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 1024px) {
    .main-card {
        display: flex;
        flex-direction: column;
        padding-inline: 25px;
        padding-block: 10px;

        & > .holder {
            display: flex;
            flex-direction: row;
            width: 100%;

        }

        .title {
            display: flex;
            width: 100%;
            
            h2 {
                margin: 0;
            }
        }

        .title {
            gap: 5px;

            h2 {
                font-size: 2rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .main {
            .temp {
                gap: 5px;

                svg {
                    width: 35px;
                    height: 35px;
                }
                span {
                    font-size: 3rem;
                }
            }
            span.weather-inf {
                font-size: 2rem;
            }
        }
        .cards {
            gap: 5px;

            .card {
                
                .title {
                    gap: 3px;
                    svg {
                        width: 13px;
                        height: 13px;
                    }
                    span {
                        font-size: 1rem;
                    }
                }
                .main-inf {
                    font-size: 1.8rem;
                }
                .more-inf {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .main-card {
        padding-left: 40px;
        .title {
            h2 {
                font-size: 2.5rem;
            }
            span {
                font-size: 1.2rem;
            }
        }

        .holder {
            .main {                
                .temp {
                    gap: 10px;
                    span {
                        font-size: 3.4rem;
                    }
                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }
                .weather-inf {
                    font-size: 2.4rem;
                }
            } 
            .cards {
                max-width: 65%;
            }
            .card {
                gap: 15px;

                .title {
                    span {
                        font-size: 1.5rem;
                    }
                    svg {
                        width: 30px;
                        height: 22px;
                    }
                }
                .main-inf {
                    font-size: 2.7rem;
                }
                .more-inf {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

/* Medium Devices (big Tablets and Small Desktops) */
@media (min-width: 481px) and (max-width: 1024px) {
    .main-card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cards {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        & > div {
            padding: 0px;
            margin: 0px;
            .title {
                padding: 0px;
                margin: 0px;
            }
        }
    }
}

/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
    .main-card {
        padding: 5px;
        border-radius: 12px;

        .title {
            gap: 5px;

            h2 {
                font-size: 2.4rem;
            }
            span {
                font-size: 1.2rem;
            }
        }
        .main {
            margin-bottom: 30px;
            .temp {
                gap: 5px;

                svg {
                    width: 35px;
                    height: 35px;
                }
                span {
                    font-size: 2.5rem;
                }
            }
            span.weather-inf {
                font-size: 1.8rem;
            }
        }
        .cards {
            gap: 7px;

            .card {
                border-radius: 12px;

                .title {
                    gap: 3px;
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                    span {
                        font-size: 0.9rem;
                    }
                }
                .main-inf {
                    font-size: 1.8rem;
                    margin-block: 7px;
                }
                .more-inf {
                    font-size: 0.55rem;
                }
            }
        }
    }
}
