.main-card {
  display: grid;
  justify-items: center;
  background-color: var(--light-blue-2);
  border-radius: 20px;
  padding: 20px;
}
.main-card > .holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-card .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-card .title h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--blue-2);
}
.main-card .title span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--blue-2);
}
.main-card .main {
  display: grid;
  justify-items: center;
}
.main-card .main .temp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-card .main .temp svg {
  width: 45px;
  height: 45px;
}
.main-card .main .temp svg path {
  fill: #6b6b6b;
}
.main-card .main .temp span {
  font-size: 4rem;
  font-weight: 900;
  color: var(--blue-1);
}
.main-card .main span.weather-inf {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--blue-2);
}
.main-card .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.main-card .cards .card {
  background-color: var(--light-blue-3);
  border-radius: 20px;
  padding: 10px;
  display: grid;
  align-items: center;
  gap: 10px;
}
.main-card .cards .card .title svg {
  width: 22px;
  height: 22px;
}
.main-card .cards .card .title svg path {
  fill: var(--blue-2);
}
.main-card .cards .card .title span {
  font-size: 1.4rem;
  font-weight: 800;
}
.main-card .cards .card .main-inf {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--blue-1);
}
.main-card .cards .card .more-inf {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--blue-2);
}

/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 1024px) {
  .main-card {
    display: flex;
    flex-direction: column;
    padding-inline: 25px;
    padding-block: 10px;
  }
  .main-card > .holder {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .main-card .title {
    display: flex;
    width: 100%;
  }
  .main-card .title h2 {
    margin: 0;
  }
  .main-card .title {
    gap: 5px;
  }
  .main-card .title h2 {
    font-size: 2rem;
  }
  .main-card .title span {
    font-size: 1rem;
  }
  .main-card .main .temp {
    gap: 5px;
  }
  .main-card .main .temp svg {
    width: 35px;
    height: 35px;
  }
  .main-card .main .temp span {
    font-size: 3rem;
  }
  .main-card .main span.weather-inf {
    font-size: 2rem;
  }
  .main-card .cards {
    gap: 5px;
  }
  .main-card .cards .card .title {
    gap: 3px;
  }
  .main-card .cards .card .title svg {
    width: 13px;
    height: 13px;
  }
  .main-card .cards .card .title span {
    font-size: 1rem;
  }
  .main-card .cards .card .main-inf {
    font-size: 1.8rem;
  }
  .main-card .cards .card .more-inf {
    font-size: 0.6rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-card {
    padding-left: 40px;
  }
  .main-card .title h2 {
    font-size: 2.5rem;
  }
  .main-card .title span {
    font-size: 1.2rem;
  }
  .main-card .holder .main .temp {
    gap: 10px;
  }
  .main-card .holder .main .temp span {
    font-size: 3.4rem;
  }
  .main-card .holder .main .temp svg {
    width: 50px;
    height: 50px;
  }
  .main-card .holder .main .weather-inf {
    font-size: 2.4rem;
  }
  .main-card .holder .cards {
    max-width: 65%;
  }
  .main-card .holder .card {
    gap: 15px;
  }
  .main-card .holder .card .title span {
    font-size: 1.5rem;
  }
  .main-card .holder .card .title svg {
    width: 30px;
    height: 22px;
  }
  .main-card .holder .card .main-inf {
    font-size: 2.7rem;
  }
  .main-card .holder .card .more-inf {
    font-size: 0.9rem;
  }
}
/* Medium Devices (big Tablets and Small Desktops) */
@media (min-width: 481px) and (max-width: 1024px) {
  .main-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-card .cards {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main-card > div {
    padding: 0px;
    margin: 0px;
  }
  .main-card > div .title {
    padding: 0px;
    margin: 0px;
  }
}
/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
  .main-card {
    padding: 5px;
    border-radius: 12px;
  }
  .main-card .title {
    gap: 5px;
  }
  .main-card .title h2 {
    font-size: 2.4rem;
  }
  .main-card .title span {
    font-size: 1.2rem;
  }
  .main-card .main {
    margin-bottom: 30px;
  }
  .main-card .main .temp {
    gap: 5px;
  }
  .main-card .main .temp svg {
    width: 35px;
    height: 35px;
  }
  .main-card .main .temp span {
    font-size: 2.5rem;
  }
  .main-card .main span.weather-inf {
    font-size: 1.8rem;
  }
  .main-card .cards {
    gap: 7px;
  }
  .main-card .cards .card {
    border-radius: 12px;
  }
  .main-card .cards .card .title {
    gap: 3px;
  }
  .main-card .cards .card .title svg {
    width: 15px;
    height: 15px;
  }
  .main-card .cards .card .title span {
    font-size: 0.9rem;
  }
  .main-card .cards .card .main-inf {
    font-size: 1.8rem;
    margin-block: 7px;
  }
  .main-card .cards .card .more-inf {
    font-size: 0.55rem;
  }
}/*# sourceMappingURL=main-card.css.map */