.main-card {
    display: grid;
    justify-items: center;
    background-color: var(--light-blue-2);
    border-radius: 20px;
    padding: 20px;

    .title {
        display: flex;
        align-items: center;
        gap: 10px;

        h2 {
            font-size: 3rem;
            font-weight: 900;
            color: var(--blue-2);
        }
        span {
            font-size: 2rem;
            color: var(--blue-2);
        }
    }
    .main {

        .temp {
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
                width: 45px;
                height: 45px;

                path {
                    fill: #6b6b6b;
                }
            }
            span {
                font-size: 4rem;
                font-weight: 900;
                color: var(--blue-1);
            }
        }
        span.weather-inf {
            font-size: 2.5rem;
            font-weight: 800;
            color: var(--blue-2);
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        .card {
            background-color: var(--light-blue-3);
            border-radius: 20px;
            padding: 10px;
            display: grid;
            align-items: center;

            .title {
                svg {
                    width: 22px;
                    height: 22px;

                    path {
                        fill: var(--blue-2);
                    }
                }
                span {
                    font-size: 1.4rem;
                    font-weight: 800;
                }
            }
            .main-inf {
                font-size: 2.5rem;
                font-weight: 800;
                color: var(--blue-1);
            }
            .more-inf {
                font-size: 0.8rem;
                font-weight: 800;
                color: var(--blue-2);
            }
        }
    }
}


/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
    .main-card {
        padding: 5px;
        border-radius: 12px;

        .title {
            gap: 5px;

            h2 {
                font-size: 2.4rem;
            }
            span {
                font-size: 1.2rem;
            }
        }
        .main {
            margin-bottom: 30px;
            .temp {
                gap: 5px;

                svg {
                    width: 35px;
                    height: 35px;
                }
                span {
                    font-size: 2.5rem;
                }
            }
            span.weather-inf {
                font-size: 1.8rem;
            }
        }
        .cards {
            gap: 7px;

            .card {
                border-radius: 12px;

                .title {
                    gap: 3px;
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                    span {
                        font-size: 0.9rem;
                    }
                }
                .main-inf {
                    font-size: 1.8rem;
                    margin-block: 7px;
                }
                .more-inf {
                    font-size: 0.55rem;
                }
            }
        }
    }
}

/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    .main-card {
        padding: 10px;

        .title {
            gap: 5px;

            h2 {
                font-size: 2.3rem;
            }
            span {
                font-size: 1.3rem;
            }
        }
        .main {
            .temp {
                gap: 5px;

                svg {
                    width: 35px;
                    height: 35px;
                }
                span {
                    font-size: 3rem;
                }
            }
            span.weather-inf {
                font-size: 2rem;
            }
        }
        .cards {
            gap: 5px;

            .card {
                
                .title {
                    gap: 3px;
                    svg {
                        width: 13px;
                        height: 13px;
                    }
                    span {
                        font-size: 0.8rem;
                    }
                }
                .main-inf {
                    font-size: 1.6rem;
                }
                .more-inf {
                    font-size: 0.55rem;
                }
            }
        }
    }
}

/* Medium Devices (big Tablets and Small Desktops) */
@media (min-width: 769px) and (max-width: 1024px) {
    
}

/* Large Devices (Desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
    
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1441px) {
    
}

/* Extra Extra Large Devices (Large TVs) */
@media (min-width: 2800px) {
    
}