.uv-index {
    background-color: var(--light-blue-2);
    border-radius: 20px;
    padding: 15px;
    display: grid;
    grid-template-rows: auto auto 1fr;

    .title {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
            width: 25px;
            height: 25px;

            path {
                fill: var(--blue-2);
            }
        }

        span {
            font-size: 1.4rem;
            font-weight: 800;
            color: var(--blue-2);
        }
    }
    hr {
        background-color: var(--blue-2);
        height: 2px;
        border: none;
    }

    .uv-holder {
        display: grid;
        justify-content: space-between;

        .main-inf {
            display: grid;
            margin-bottom: 5px;

            .temp {
                font-size: 2.5rem;
                font-weight: 800;
                color: var(--blue-1);
            }
            .condition {
                font-size: 1.7rem;
                font-weight: 700;
                color: var(--blue-2);
            }
        }
    
        .last { 
            display: grid;
            gap: 7px;
            margin-top: auto;
            .uv-bar {
                width: 100%;
                height: 10px;
                border-radius: 20px;
                background: linear-gradient(to right, green, yellow, red, orange);
            }
            .more-inf {
                font-size: 0.8rem;
                font-weight: 800;
                color: var(--blue-2);
            }
        }
    }

}

/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    .uv-index {
        padding: 10px;

        .title {
            svg {
                width: 15px;
                height: 15px;
            }
            span {
                font-size: 0.9rem;
            }
        }
        .uv-holder {
            .main-inf {
                .temp {
                    font-size: 1.8rem;
                }
                .condition {
                    font-size: 0.9rem;
                }
            }
            .last {
                .uv-bar {
                    height: 7px;
                }
                .more-inf {
                    font-size: 0.55rem;
                }
            }
        }
    }
}